<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<jmxConfigurator/>

    <property name="default-pattern" value="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{36}] : %msg%n</pattern>
        </encoder>
    </appender>

  	
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
    
	
	<property name="application.log.level" value="DEBUG" />
	
	<logger name="com.sample" level="${application.log.level}" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework" level="${application.log.level}" additivity="false">		
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.hibernate" level="${application.log.level}" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

</configuration>